@charset "utf-8";
*{
	padding:0;
	margin:0;
	border:0;
	outline:0;
	vertical-align:baseline;
	background:transparent;
	letter-spacing:.5px
}
div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,img,ol,ul,li,table,th,td,p,span,a{
	border:0
}
img,input{
	border:0;
	vertical-align:middle
}
body{
	font-family:Microsoft YaHei,Tahoma,Arial,Helvetica,sans-serif;
	font-size:12px;
	text-align:center;
	background:#FFF;
	color:#000
}
html{
	overflow-y:scroll
}
ul,ol,li{
	list-style:none
}
th,td,input{
	font-size:12px
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:400
}
button{
	border:0;
	cursor:pointer;
	font-size:12px;
	background-color:transparent
}
select{
	border-width:1px;
	_zoom:1;
	border-style:solid;
	padding-top:2px;
	font-size:12px
}
.clear{
	clear:both;
	font-size:1px;
	height:0;
	visibility:hidden;
	line-height:0
}
.clearfix:after{
	content:"";
	display:block;
	clear:both
}
.clearfix{
	zoom:1
}
a:link,a:visited{
	text-decoration:none;
	color:#000
}
a:hover,a:active{
	text-decoration:none;
	color:#db2726
}
a{
	cursor:pointer
}
.breadcrumbs{
	width:1000px;
	height:16px;
	padding:20px 0 30px 0;
	position:relative
}
.breadcrumbs ul li{
	float:left;
	margin-right:8px;
	color:#999
}
.breadcrumbs ul li a{
	color:#999
}
.breadcrumbs ul li a:link{
	color:#999
}
.breadcrumbs ul li a:visited{
	color:#999
}
.breadcrumbs ul li a:hover{
	color:#db2726
}
.breadcrumbs ul li span{
	margin-right:8px;
	font-family:Tahoma
}
.breadcrumbs ul .product{
	color:#000
}
.countdown{
	height:16px;
	position:absolute;
	right:0;
	top:20px
}
.countdown_label{
	padding-left:22px;
	height:17px;
	background:url(../img/icon_countdown.gif) no-repeat;
	font-weight:bold;
	float:right;
	margin-right:5px
}
.countdown_Time{
	color:#999;
	float:right
}
.countdown_Time strong{
	font-weight:400
}
.main{
	width:1000px;
	height:auto;
	margin-bottom:30px;
	position:relative
}
.top_line{
	border-top:2px solid #000;
	margin-bottom:40px
}
.product_view{
	width:400px;
	float:left;
	height:auto;
	overflow:hidden
}
.product_bigimg{
	width:398px;
	height:531px;
	overflow:hidden;
	position:relative;
	margin-bottom:20px
}
.product_bigimg .icon_gift_a{
	position:absolute;
	left:5px;
	top:5px;
	z-index:1
}
.product_bigimg .icon_video_play_a{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-54px;
	margin-top:-54px;
	z-index:2;
	cursor:pointer
}
.product_bigimg .icon_video_pause_a{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-54px;
	margin-top:-54px;
	z-index:2;
	cursor:pointer
}
.product_bigimg .icon_amplify_a{
	position:absolute;
	right:10px;
	bottom:10px
}
.product_bigimg img{
	width:400px;
	height:533px;
	margin:-1px 0 0 -1px
}
.product_selectimg{
	width:400px;
	height:auto;
	overflow:hidden
}
.left_page_have{
	display:block;
	float:left;
	width:10px;
	height:106px;
	background:url(../img/icon_arrows_left_have.gif) no-repeat;
	background-position:0 45px;
	text-indent:-9999px;
	margin-right:10px
}
.left_page_none{
	display:block;
	float:left;
	width:10px;
	height:106px;
	background:url(../img/icon_arrows_left_none.gif) no-repeat;
	background-position:0 45px;
	text-indent:-9999px;
	margin-right:10px
}
.right_page_have{
	float:left;
	display:block;
	width:10px;
	height:106px;
	background:url(../img/icon_arrows_right_have.gif) no-repeat;
	background-position:0 45px;
	text-indent:-9999px;
	margin-right:10px
}
.right_page_none{
	float:left;
	display:block;
	width:10px;
	height:106px;
	background:url(../img/icon_arrows_right_none.gif) no-repeat;
	background-position:0 45px;
	text-indent:-9999px;
	margin-right:10px
}
.look_bigimg{
	float:left;
	display:block;
	width:35px;
	height:60px;
	overflow:hidden;
	border-left:1px solid #e7e7e7;
	padding-left:10px;
	margin-top:10px;
	padding-top:25px;
	text-decoration:underline
}
.look_bigimg:link{
	text-decoration:underline
}
.look_bigimg:visited{
	text-decoration:underline
}
.product_smallimg{
	width:270px;
	height:107px;
	overflow:hidden;
	float:left;
	position:relative
}
.product_smallimg ul li{
	width:80px;
	height:107px;
	float:left;
	margin-right:10px
}
.product_smallimg ul li .selectimg{
	display:block;
	width:78px;
	height:105px;
	overflow:hidden;
	position:relative
}
.product_smallimg ul li .selectimg:hover{
	border:1px solid #000
}
.product_smallimg ul li .selectimg .icon_video_play_b{
	position:absolute;
	top:35px;
	left:22px;
	z-index:1px
}
.product_smallimg ul li .selectimg .icon_video_pause_b{
	position:absolute;
	top:35px;
	left:22px;
	z-index:1px
}
.product_smallimg ul li .selectimg .icon_gift_a{
	position:absolute;
	top:5px;
	left:5px;
	z-index:1px
}
.product_smallimg ul li .selectimg img{
	width:80px;
	height:107px;
	margin:-1px 0 0 -1px
}
.invisible{
	visibility:hidden
}
.product_mz_view{
	width:510px;
	float:left;
	height:auto;
	overflow:hidden
}
.product_mz_bigimg{
	width:410px;
	height:547px;
	overflow:hidden;
	position:relative;
	float:right
}
.product_mz_bigimg .icon_gift_a{
	position:absolute;
	left:5px;
	top:5px;
	z-index:1
}
.product_mz_bigimg .icon_video_play_a{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-54px;
	margin-top:-54px;
	z-index:2;
	cursor:pointer
}
.product_mz_bigimg .icon_video_pause_a{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-54px;
	margin-top:-54px;
	z-index:2;
	cursor:pointer
}
.product_mz_bigimg .icon_amplify_a{
	position:absolute;
	right:10px;
	bottom:10px
}
.product_mz_bigimg img{
	width:410px;
	height:547px;
	margin:-1px 0 0 -1px
}
.product_mz_selectimg{
	width:80px;
	height:547px;
	overflow:hidden;
	float:left
}
.top_page_have{
	display:block;
	width:80px;
	height:10px;
	background:url(../img/icon_arrows_top_have.gif) no-repeat;
	background-position:31px 0;
	text-indent:-9999px;
	margin-bottom:10px
}
.top_page_none{
	display:block;
	width:80px;
	height:10px;
	background:url(../img/icon_arrows_top_none.gif) no-repeat;
	background-position:31px 0;
	text-indent:-9999px;
	margin-bottom:10px
}
.bottom_page_have{
	display:block;
	width:80px;
	height:10px;
	background:url(../img/icon_arrows_bottom_have.gif) no-repeat;
	background-position:31px 0;
	text-indent:-9999px;
	margin:10px 0
}
.bottom_page_none{
	display:block;
	width:80px;
	height:10px;
	background:url(../img/icon_arrows_bottom_none.gif) no-repeat;
	background-position:31px 0;
	text-indent:-9999px;
	margin:10px 0
}
.look_mz_bigimg{
	display:block;
	width:60px;
	height:auto;
	overflow:hidden;
	white-space:nowrap;
	border-top:1px solid #e7e7e7;
	padding-top:5px;
	margin:10px auto 0;
	text-align:center
}
.product_mz_smallimg{
	width:80px;
	height:454px;
	overflow:hidden;
	position:relative
}
.product_mz_smallimg ul li{
	width:80px;
	height:106px;
	margin-bottom:10px
}
.product_mz_smallimg ul li .selectimg{
	display:block;
	width:78px;
	height:104px;
	overflow:hidden;
	position:relative
}
.product_mz_smallimg ul li .selectimg:hover{
	border:1px solid #000
}
.product_mz_smallimg ul li .selectimg .icon_video_play_b{
	position:absolute;
	top:35px;
	left:22px;
	z-index:1px
}
.product_mz_smallimg ul li .selectimg .icon_video_pause_b{
	position:absolute;
	top:35px;
	left:22px;
	z-index:1px
}
.product_mz_smallimg ul li .selectimg .icon_gift_a{
	position:absolute;
	top:5px;
	left:5px;
	z-index:1px
}
.product_mz_smallimg ul li .selectimg img{
	width:80px;
	height:106px;
	margin:-1px 0 0 -1px
}
.product_info{
	width:530px;
	height:auto;
	padding-right:50px;
	float:right;
	position:relative;
	overflow:visible
}
.product_info_mz{
	width:470px;
	height:auto;
	float:right;
	position:relative;
	overflow:visible
}
.product_info_mz .product_button .arrival_notice{
	float:right;
	margin-left:0
}
.product_share_weibo{
	display:block;
	width:23px;
	height:31px;
	background:url(../img/icon_share_weibo.gif) no-repeat;
	position:absolute;
	top:0;
	right:50px;
	text-indent:-9999px
}
.product_share_weibo_mz{
	display:block;
	width:23px;
	height:31px;
	background:url(../img/icon_share_weibo.gif) no-repeat;
	position:absolute;
	top:0;
	right:0;
	text-indent:-9999px
}
.Product_title{
	width:auto;
	height:auto;
	overflow:hidden;
	font-size:24px;
	padding-right:40px;
	letter-spacing:1px
}
.product_name{
	width:auto;
	padding-left:2px;
	padding-right:30px;
	height:auto;
	overflow:hidden;
	font-size:16px
}
.product_name h1{
	font-size:16px;
	font-weight:400
}
.product_price{
	width:100%;
	height:30px;
	overflow:hidden;
	white-space:nowrap;
	padding-top:20px
}
.product_price ul li{
	float:left;
	height:30px
}
.product_price ul .product_current_price{
	font-size:24px;
	margin-right:10px
}
.product_price ul .product_discount{
	color:#db2726;
	line-height:35px;
	margin-left:10px
}
.product_price ul .product_discount span{
	font-size:20px;
	font-weight:bold;
	font-family:arial
}
.product_original_price{
	width:auto;
	height:35px;
	overflow:hidden;
	white-space:nowrap;
	font-size:16px;
	text-decoration:line-through;
	color:#999;
	padding-left:2px
}
.product_original_price span{
	text-decoration:line-through
}
.product_choose{
	width:360px;
	height:auto;
	position:relative;
	margin-bottom:10px
}
.product_choose_title{
	width:360px;
	height:28px;
	font-size:14px
}
.product_choose_title span{
	font-size:12px;
	color:#db2726;
	margin-left:12px
}
.productsize{
	display:block;
	width:43px;
	height:31px;
	background:url(../img/icon_size.gif) no-repeat;
	position:absolute;
	top:0;
	right:-170px;
	text-indent:-9999px
}
.productsize_mz{
	display:block;
	width:43px;
	height:31px;
	background:url(../img/icon_size.gif) no-repeat;
	position:absolute;
	top:0;
	right:-110px;
	text-indent:-9999px
}
.product_choose_color ul li{
	float:left;
	width:30px;
	height:40px;
	margin-right:10px;
	margin-bottom:10px
}
.product_choose_color ul li a{
	display:block;
	width:28px;
	height:38px;
	overflow:hidden;
	position:relative
}
.product_choose_color ul li a:hover{
	border:1px solid #000
}
.shade1{
	position:absolute;
	width:30px;
	height:40px;
	left:-1px;
	top:-1px;
	z-index:2
}
.product_choose_color ul li a img{
	width:30px;
	height:40px;
	position:absolute;
	left:-1px;
	top:-1px
}
.product_choose_size{
	z-index:3
}
.product_choose_size ul li{
	float:left;
	width:auto;
	min-width:50px;
	_width:50px;
	height:30px;
	margin-right:10px;
	margin-bottom:10px;
	overflow:visible
}
.product_choose_size ul li a{
	display:block;
	width:48px;
	height:28px;
	line-height:28px;
	text-align:center;
	color:#000;
	overflow:hidden
}
.product_choose_size ul li a:hover{
	border:1px solid #000
}
.product_choose_size ul li a:visited{
	color:#000
}
.product_choose_size ul li .product_size_Checked{
	background-color:#000;
	color:#FFF;
	border:1px solid #000
}
.product_choose_size ul li .product_size_Checked:visited{
	color:#fff
}
.product_choose_size ul li .product_size_none{
	background:url(../img/product_size_none.gif) no-repeat
}
.product_choose_size ul li .product_size_maybe{
	background:url(../img/product_size_maybe.gif) no-repeat
}
.upcoming .product_choose_size ul li a{
	color:#ccc;
	background:#eee
}
.upcoming .product_choose_size ul li .product_size_Checked:visited{
	color:#000
}
.upcoming .border_color2,.upcoming .border_color2_Checked{
	border:1px solid #ccc
}
.product_choose .number_choose{
	width:128px
}
.product_choose .number_choose .quantity_number{
	width:70px;
	height:28px
}
.product_choose .number_choose .quantity_number input{
	width:70px
}
.upcoming .product_choose .number_choose .quantity_number input{
	color:#ccc
}
.quantity_explain{
	position:absolute;
	bottom:8px;
	left:140px;
	color:#db2726
}
.product_button{
	width:100%;
	height:55px;
	overflow:hidden;
	padding-top:10px
}
.product_button .join_shopping_bag,.product_button .buy_now_btn{
	display:block;
	width:225px;
	height:35px;
	text-align:center;
	line-height:35px;
	font-size:14px;
	background-color:#222;
	color:#fff;
	float:left;
	margin-right:20px
}
.product_button .buy_now_btn{
	background-color:#dd2828;
	margin-right:0;
	font-size:14px;
	font-weight:bold
}
.product_button .join_shopping_bag:visited{
	color:#fff
}
.product_button .add_favorites,.product_button .hasadd_favorites{
	display:block;
	width:223px;
	height:33px;
	text-align:center;
	line-height:33px;
	font-size:14px;
	border:1px solid #000;
	color:#000;
	float:left
}
.product_button .add_favorites span{
	display:inline-block;
	padding-left:30px;
	background:url(../img/icon_like.gif) no-repeat 0 3px
}
.product_button .hasadd_favorites span{
	display:inline-block;
	padding-left:30px;
	background:url(../img/icon_like2.gif) no-repeat 0 3px
}
.product_button .search_more{
	display:block;
	width:203px;
	padding-left:20px;
	height:33px;
	text-align:center;
	line-height:33px;
	font-size:14px;
	border:1px solid #000;
	color:#000;
	float:left
}
.product_button .search_more{
	color:#000
}
.product_button .arrival_notice{
	display:block;
	width:223px;
	height:33px;
	text-align:center;
	line-height:33px;
	font-size:14px;
	border:1px solid #000;
	color:#000;
	float:left;
	margin-left:20px
}
.product_button .arrival_notice_mz{
	display:block;
	width:223px;
	height:33px;
	text-align:center;
	line-height:33px;
	font-size:14px;
	border:1px solid #000;
	color:#000;
	float:left;
	margin-left:17px
}
.product_button .arrival_notice:visited{
	color:#000
}
.product_button .sold_out{
	display:block;
	width:225px;
	height:35px;
	text-align:center;
	line-height:35px;
	font-size:14px;
	color:#fff;
	float:left;
	background-color:#999
}
.product_button .sold_out:visited{
	color:#fff
}
.product_trace{
	width:100%;
	height:35px;
	overflow:hidden
}
.trace_normal{
	width:auto;
	font-weight:bold;
	overflow:visible
}
.trace_normal span{
	font-weight:normal
}
.trace_normal .span{
	display:inline-block;
	padding-left:5px;
	position:relative;
	font-weight:bold;
	cursor:pointer
}
.trace_brand{
	background:url(../img/icon_brand.gif) no-repeat left 2px;
	width:auto;
	padding-left:30px;
	font-weight:bold
}
.trace_brand span{
	font-weight:normal
}
.trace_overseas{
	background:url(../img/icon_overseas.gif) no-repeat left 0;
	width:auto;
	padding-left:23px;
	font-weight:bold;
	line-height:20px
}
.trace_overseas span{
	color:#db2726;
	font-size:14px
}
.trace_overseas a{
	float:right;
	font-weight:normal;
	text-decoration:underline
}
.product_guarantee{
	width:100%;
	height:auto;
	overflow:hidden;
	font-weight:bold;
	font-size:14px;
	line-height:18px;
	min-height:55px
}
.product_guarantee p{
	font-size:12px;
	font-weight:normal
}
.product_activity{
	width:100%;
	height:auto;
	overflow:hidden;
	margin-bottom:20px
}
.product_activity span{
	font-size:14px;
	display:block;
	height:28px
}
.product_activity ul li{
	background:url(../img/icon_dot.gif) no-repeat left 8px;
	padding-left:13px;
	line-height:20px
}
.product_activity ul li a{
	text-decoration:underline
}
.trace_reserved{
	background:url(../img/icon_reserved.gif) no-repeat left 0;
	width:auto;
	height:25px;
	padding-left:23px;
	font-weight:bold;
	line-height:20px;
	overflow:hidden
}
.trace_reserved a{
	float:right;
	font-weight:normal;
	text-decoration:underline
}
.trace_reserved_info{
	font-size:110%;
	float:left;
	margin-left:1cm;
	margin-top:-0.65mm
}
.reserved_img{
	width:100%;
	height:120px;
	background:url(../img/reserved_detail.png) no-repeat;
	z-index:99;
	position:absolute;
	doverflow:visible;
	float:right
}
.trace_freeduty{
	background:url(../img/icon_freeduty.gif) no-repeat left 0;
	width:auto;
	height:25px;
	padding-left:23px;
	font-weight:bold;
	line-height:20px;
	overflow:hidden
}
.trace_freeduty a{
	float:right;
	font-weight:normal;
	text-decoration:underline
}
.trace_freeduty_info{
	font-size:110%;
	float:left;
	margin-left:1cm;
	margin-top:-0.65mm
}
.freeduty_img{
	width:100%;
	height:240px;
	background:url(../img/freeduty_detail.png) no-repeat;
	z-index:99;
	position:absolute;
	doverflow:visible;
	float:right
}
.trace_freeduty{
	background:url(../img/icon_freeduty.png) no-repeat left 0;
	width:auto;
	height:25px;
	padding-left:23px;
	font-weight:bold;
	line-height:20px;
	overflow:hidden
}
.trace_freeduty a{
	float:right;
	font-weight:normal;
	text-decoration:underline
}
.trace_freeduty_info{
	font-size:110%;
	float:left;
	margin-left:1.5cm;
	margin-top:-0.65mm
}
.freeduty_detail_img{
	width:100%;
	height:240px;
	background:url(../img/freeduty_detail.png) no-repeat;
	z-index:99;
	position:absolute;
	doverflow:visible;
	float:right
}
.recommend{
	width:100%;
	height:auto;
	overflow:hidden
}
.recommendTitle{
	width:100%;
	height:14px;
	line-height:14px;
	font-size:14px;
	overflow:hidden;
	padding-bottom:10px
}
.recommendContent{
	width:100%;
	height:auto;
	overflow:hidden;
	position:relative
}
.recommend_leftPage{
	width:10px;
	height:164px;
	background:url(../img/icon_arrows_left_have.gif) no-repeat;
	background-position:0 80px;
	float:left;
	text-indent:-9999px;
	cursor:pointer;
	margin-right:20px
}
.recommend_leftPage_nothing{
	width:10px;
	height:164px;
	background:url(../img/icon_arrows_left_none.gif) no-repeat;
	background-position:0 80px;
	float:left;
	text-indent:-9999px;
	cursor:pointer;
	margin-right:20px
}
.recommend_rightPage{
	width:10px;
	height:164px;
	background:url(../img/icon_arrows_right_have.gif) no-repeat;
	background-position:0 80px;
	float:left;
	text-indent:-9999px;
	cursor:pointer
}
.recommend_rightPage_nothing{
	width:10px;
	height:164px;
	background:url(../img/icon_arrows_right_none.gif) no-repeat;
	background-position:0 80px;
	float:left;
	text-indent:-9999px;
	cursor:pointer
}
.commodityContent{
	width:429px;
	overflow:hidden;
	height:auto;
	float:left
}
.commodityContent .theCommodity{
	width:123px;
	height:auto;
	overflow:hidden;
	float:left;
	text-align:center;
	line-height:18px;
	white-space:nowrap;
	margin-right:20px
}
.commodityContent .theCommodity .theCommodity_img{
	display:block;
	width:121px;
	height:162px;
	margin-bottom:7px;
	overflow:hidden;
	position:relative;
	border:1px solid #e7e7e7
}
.commodityContent .theCommodity .theCommodity_img img{
	width:123px;
	height:164px;
	margin:-1px 0 0 -1px
}
.commodityContent .theCommodity .p1{
	text-decoration:line-through
}
.product_details{
	width:700px;
	height:auto;
	float:left
}
.product_details_nav{
	position:relative;
	width:100%;
	height:45px;
	overflow:hidden;
	border-bottom:1px solid #e7e7e7
}
.line{
	border-bottom:5px solid #000
}
.product_details_nav a{
	float:left;
	display:block;
	width:100px;
	height:40px;
	overflow:hidden;
	line-height:45px;
	font-size:13px;
	color:#000;
	text-align:center
}
.product_details_nav a:hover{
	background:url(../img/icon_arrows_bottom1.gif) no-repeat 80px 18px
}
.product_details_nav a:visited{
	color:#000
}
.product_details_nav .details_nav_Checked{
	background:url(../img/icon_arrows_bottom1.gif) no-repeat 80px 18px
}
.slide_line{
	width:100px;
	height:5px;
	background-color:#000;
	overflow:hidden;
	position:absolute;
	bottom:0;
	left:0
}
.product_details_title{
	width:100%;
	height:auto;
	padding-top:20px;
	padding-bottom:5px;
	font-size:14px;
	border-bottom:2px solid #e7e7e7;
	margin-bottom:20px
}
.product_details_discription{
	width:100%;
	height:auto;
	padding-top:20px;
	padding-bottom:5px;
	font-size:14px;
	border-bottom:2px solid #e7e7e7;
	margin-bottom:20px
}
.product_recommend{
	width:700px;
	height:auto;
	overflow:hidden;
	margin-bottom:20px;
	padding-top:20px
}
.product_referrer{
	width:100px;
	height:100px;
	overflow:hidden;
	float:left;
	position:relative
}
.product_referrer img{
	width:100%;
	height:100%
}
.head_portrait{
	width:100px;
	height:100px;
	overflow:hidden;
	background:url(../img/head_portrait.png) no-repeat;
	position:absolute;
	left:0;
	top:0;
	z-index:5px
}
.recommend_content{
	width:580px;
	height:auto;
	overflow:hidden;
	float:left;
	padding-left:20px;
	padding-top:10px
}
.recommend_content span{
	font-size:14px;
	font-weight:bold;
	display:block;
	margin-bottom:5px
}
.recommend_content p{
	line-height:18px
}
.size_matters{
	width:700px;
	height:auto;
	overflow:hidden;
	margin-bottom:26px
}
.size_matters_top{
	width:700px;
	height:auto;
	overflow:hidden;
	margin-bottom:20px
}
.size_matters_top a{
	float:right;
	text-decoration:underline
}
.size_matters_table{
	width:700px;
	padding-bottom:15px;
	overflow:hidden;
	position:relative
}
.size_matters_table table{
	border-spacing:0
}
.size_matters_table th,.size_matters_table td{
	border-bottom:1px solid #fff;
	height:65px;
	text-align:center;
	vertical-align:middle;
	font-weight:normal;
	font-size:14px
}
.size_table_head{
	width:100px;
	position:absolute;
	top:0;
	left:0;
	z-index:6
}
.size_table_head th{
	font-size:14px;
	color:#fff;
	background-color:#000
}
.size_table_body{
	position:relative;
	margin-left:100px
}
.size_table_body th{
	background-color:#e7e7e7;
	border-bottom-color:#e7e7e7
}
.size_table_body td{
	background-color:#f2f2f2;
	font-size:12px;
	border-left:1px solid #e7e7e7
}
.size_matters_tr td{
	background-color:#fff
}
.product_description{
	width:700px;
	height:auto;
	overflow:hidden;
	margin-bottom:10px
}
.product_description p{
	margin-bottom:10px;
	line-height:18px
}
.product_description ul li{
	background:url(../img/icon_dot.gif) no-repeat left 8px;
	padding-left:13px;
	line-height:20px;
	margin-bottom:15px
}
.product_details_img{
	width:698px;
	height:auto;
	overflow:hidden;
	margin-bottom:20px;
	text-align:center
}
.product_details_img .img_Fixed{
	width:698px;
	height:930px
}
.product_details_content{
	width:700px;
	height:auto;
	overflow:hidden;
	margin-bottom:15px;
	line-height:18px
}
.product_details_comments{
	width:700px;
	height:auto;
	margin-bottom:20px;
	position:relative;
	border-bottom:1px dashed #e7e7e7;
	padding-bottom:20px
}
.product_details_comments_left{
	width:476px;
	height:auto;
	overflow:hidden;
	float:left;
	border-right:1px solid #e7e7e7
}
.product_details_comments_right{
	width:200px;
	height:auto;
	overflow:hidden;
	float:right;
	position:relative
}
.product_details_comments_right p{
	margin-bottom:5px
}
.product_details_comments_id{
	position:absolute;
	top:0;
	right:0
}
.product_details_comments_praise{
	position:absolute;
	bottom:10px;
	right:0;
	background:url(../img/icon_praise.gif) no-repeat;
	padding-left:20px;
	background-position:0 2px
}
.product_details_comments_praise a{
	margin-right:5px;
	text-decoration:underline
}
.product_details_comments_praise a:hover{
	text-decoration:underline
}
.product_details_comments_praise a:visited{
	text-decoration:underline
}
.product_details_comments_grade{
	height:14px;
	width:100%;
	margin-bottom:10px
}
.product_details_comments_grade img{
	display:inline-block;
	width:14px;
	height:12px
}
.product_details_comments_content{
	width:456px;
	height:auto;
	overflow:hidden;
	margin-bottom:10px;
	line-height:18px
}
.product_details_comments_img{
	width:100%;
	height:auto;
	overflow:hidden
}
.product_details_comments_img span{
	display:block;
	float:left;
	margin-right:10px;
	width:60px;
	height:auto;
	overflow:visible
}
.product_details_comments_img span a{
	display:block;
	width:58px;
	height:58px;
	overflow:hidden
}
.product_details_comments_img span a:hover{
	border:1px solid #000
}
.product_details_comments_img span a img{
	margin:-1px 0 0 -1px;
	width:60px;
	height:60px
}
.product_details_comments_bigimg{
	width:100%;
	height:auto;
	overflow:hidden
}
.product_details_comments_img_Checked{
	width:180px;
	height:180px;
	padding-top:8px;
	background:url(../img/icon_arrows_bottom.gif) no-repeat;
	background-position:25px 0
}
.product_details_comments_img_Checked span{
	display:block;
	width:178px;
	height:178px;
	overflow:hidden
}
.product_details_comments_img_Checked span img{
	margin:-1px 0 0 -1px;
	width:180px;
	height:180px
}
.product_details .page{
	margin-bottom:10px
}
.product_recommendlink{
	width:260px;
	height:auto;
	overflow:hidden;
	float:right
}
.product_link_title{
	width:100%;
	height:44px;
	overflow:hidden;
	font-size:14px;
	border-bottom:2px solid #e7e7e7;
	position:relative
}
.product_link_title span{
	position:absolute;
	bottom:5px;
	left:0
}
.product_link_title1{
	width:100%;
	height:57px;
	overflow:hidden;
	font-size:14px;
	border-bottom:2px solid #e7e7e7;
	position:relative
}
.product_link_title1 span{
	position:absolute;
	bottom:5px;
	left:0
}
.product_link_content{
	width:220px;
	margin:0 auto;
	margin-top:20px;
	height:auto;
	overflow:hidden
}
.product_link_content ul li{
	width:220px;
	text-align:center;
	line-height:18px
}
.product_link_content ul .product_link_img{
	height:293px;
	margin-bottom:5px
}
.product_link_content ul .product_link_img a{
	display:block;
	width:218px;
	height:291px;
	overflow:hidden;
	position:relative
}
.product_link_content ul .product_link_img a img{
	width:220px;
	height:293px;
	position:absolute;
	top:-1px;
	left:-1px
}
.product_link_content ul .product_link_current_price{
	color:#db2726
}
.product_link_content ul .product_link_original_price{
	text-decoration:line-through
}
.box_effect{
	margin-bottom:20px
}
.Status_close{
	display:block;
	width:35px;
	height:16px;
	float:right;
	background:url(../img/icon_arrows_right.gif) no-repeat right
}
.Status_open{
	display:block;
	width:35px;
	height:16px;
	float:right;
	background:url(../img/icon_arrows_bottom2.gif) no-repeat right
}
.box_effect_unfold{
	position:absolute;
	height:16px;
	top:10px;
	right:10px
}
.box_effect_unfold a{
	text-decoration:underline
}
.box_effect_unfold span{
	float:right
}
.product_info_mz .box_effect_bg{
	width:465px
}
.product_info_mz .box_effect_content{
	width:443px
}
.product_info_mz .box_effect_content ul li{
	width:auto;
	padding-left:28px;
	overflow:hidden;
	white-space:normal;
	margin-top:20px;
	background:url(../img/icon_gift.gif) no-repeat left top;
	line-height:18px
}
.product_info_mz .box_effect_content ul li span{
	margin-right:5px
}
.product_info_mz .box_effect_content ul li a{
	text-decoration:underline;
	display:inline-block
}
.product_info_mz .box_effect_content .box_effect_content_first{
	width:310px;
	height:auto;
	padding-left:28px;
	overflow:hidden;
	white-space:normal;
	margin-top:0;
	background:url(../img/icon_gift.gif) no-repeat left top;
	line-height:18px
}
.product_info_mz .box_effect_content .box_effect_content_first span{
	margin-right:5px
}
.product_info_mz .box_effect_content .box_effect_content_first a{
	text-decoration:underline;
	display:inline-block
}
.product_details .box_effect_bg{
	width:695px;
	padding:0;
	background-color:#e7e7e7
}
.product_details .box_effect_content{
	padding:10px;
	width:673px;
	height:auto;
	overflow:hidden;
	background-color:#fff;
	border:1px solid #e7e7e7;
	position:relative;
	bottom:5px;
	left:-5px
}
.product_details .box_effect_content ul li{
	width:673px;
	overflow:hidden;
	white-space:normal;
	padding-top:15px
}
.product_details .box_effect_content ul li span{
	font-size:13px;
	display:block;
	margin-bottom:5px
}
.product_details .box_effect_content ul li p{
	word-break:break-all;
	word-wrap:break-word
}
.product_details .box_effect_content ul .li1{
	padding-top:0
}
.product_info .box_effect_bg{
	width:525px
}
.product_info .box_effect_content{
	width:503px;
	margin-left:0
}
.product_info .box_effect_content ul{
	width:auto;
	height:auto;
	overflow:hidden
}
.product_info .box_effect_content ul li{
	width:auto;
	height:auto;
	padding-left:28px;
	overflow:hidden;
	white-space:normal;
	margin-top:20px;
	background:url(../img/icon_gift.gif) no-repeat left top;
	line-height:18px
}
.product_info .box_effect_content ul li span{
	margin-right:5px
}
.product_info .box_effect_content ul li a{
	text-decoration:underline;
	display:inline-block
}
.product_info .box_effect_content .box_effect_content_first{
	width:370px;
	height:auto;
	padding-left:28px;
	overflow:hidden;
	white-space:normal;
	margin-top:0;
	background:url(../img/icon_gift.gif) no-repeat left top;
	line-height:18px
}
.product_info .box_effect_content .box_effect_content_first span{
	margin-right:5px
}
.product_info .box_effect_content .box_effect_content_first a{
	text-decoration:underline;
	display:inline-block
}
.pop_up{
	width:0;
	height:0;
	position:relative
}
.pop_up_box1{
	width:59px;
	height:39px;
	overflow:hidden;
	text-align:center;
	line-height:30px;
	color:#fff;
	background:url(../img/popup1.png) no-repeat;
	position:absolute;
	top:-70px;
	left:-5px;
	z-index:999
}
.pop_up_box2{
	width:110px;
	height:auto;
	position:absolute;
	left:-43px;
	top:1px;
	z-index:99;
	display:none
}
.pop_up_box2 .box_content{
	width:90px;
	height:10px;
	line-height:10px;
	text-align:center;
	white-space:nowrap
}
.pop_up_box3{
	width:170px;
	height:auto;
	position:absolute;
	top:0;
	left:-60px;
	z-index:99;
	display:none
}
.pop_up_box3 .box_content{
	width:150px
}
.pop_up_box3 .box_content ul li{
	width:100%;
	height:auto;
	margin:0;
	line-height:20px;
	float:none
}
.pop_up_box3 .box_content ul li span{
	font-weight:bold
}
.pop_up_box4{
	width:265px;
	height:auto;
	position:absolute;
	top:0;
	left:-107px;
	z-index:99;
	display:none
}
.pop_up_box4 .box_content{
	width:245px;
	position:relative;
	padding-top:42px
}
.pop_up_box4 .box_content_top{
	width:265px;
	height:32px;
	line-height:32px;
	overflow:hidden;
	background-color:#f2f2f2;
	text-align:center;
	position:absolute;
	top:0;
	left:0
}
.pop_up_box4 .box_content_top span{
	text-decoration:underline;
	cursor:pointer
}
.pop_up_box4 .box_content_top a{
	float:right;
	margin:0;
	padding:0
}
.pop_up_box4 .box_content ul li{
	width:100%;
	height:auto;
	margin:0;
	line-height:20px;
	float:none
}
.pop_up_box4 .box_content ul li span{
	font-weight:bold
}
.pop_up_box5{
	width:265px;
	height:auto;
	position:absolute;
	top:0;
	left:-129px;
	z-index:99;
	cursor:auto;
	display:none
}
.pop_up_box5 .box_content{
	width:245px
}
.pop_up_box5 .box_content p{
	margin-bottom:10px;
	font-weight:normal;
	line-height:18px
}
.product_top_container{
	width:100%;
	height:50px;
	position:fixed;
	top:0;
	z-index:9995;
	display:none
}
.product_top_nav_bg{
	width:100%;
	height:50px;
	position:relative;
	background:url(../img/nav_bg.png) repeat-x
}
.product_top_nav{
	width:1000px;
	margin:0 auto;
	height:50px;
	position:relative
}
.product_top_nav .product_details_nav{
	border-bottom:0
}
.product_top_nav_right{
	height:27px;
	position:absolute;
	top:10px;
	right:0;
	font-size:14px;
	font-weight:bold
}
.product_top_nav_right span{
	margin-right:25px
}
.product_top_nav_right .span1{
	display:inline-block;
	width:100px;
	height:27px;
	background-color:#db2726;
	line-height:27px;
	color:#fff;
	text-align:center;
	font-size:12px;
	font-weight:normal;
	margin-left:25px;
	margin-right:0;
	cursor:pointer
}
.product_top_nav_right .span1:visited{
	color:#fff
}
.pop_up_shopping_top{
	width:285px;
	height:auto;
	overflow:hidden;
	-moz-box-shadow:0 1px 6px #999;
	-webkit-box-shadow:0 1px 6px #999;
	box-shadow:0 1px 6px #999;
	background-color:#fff;
	position:absolute;
	right:0;
	top:45px;
	z-index:-1
}
.pop_datu{
	width:960px;
	height:1280px;
	overflow:hidden;
	padding:20px;
	position:relative;
	padding-top:147px;
	text-align:center;
	background-color:#fff
}
.pop_datu a{
	cursor:pointer
}
.pop_datu img{
	width:960px;
	height:1280px
}
.pop_datu ul li a img{
	width:80px;
	height:107px;
	float:left;
	margin-right:10px
}
.pop_datu_selectimg{
	width:320px;
	height:auto;
	overflow:hidden;
	margin:0 auto;
	position:absolute;
	top:20px;
	left:50%;
	margin-left:-155px
}
.pop_datu_smallimg{
	width:270px;
	height:107px;
	overflow:hidden;
	float:left;
	position:relative
}
.pop_datu_smallimg ul li{
	width:80px;
	height:107px;
	float:left;
	margin-right:10px
}
.pop_datu_smallimg ul li .selectimg{
	display:block;
	width:78px;
	height:105px;
	overflow:hidden;
	position:relative
}
.pop_datu_smallimg ul li .selectimg:hover{
	border:1px solid #000
}
.pop_datu_smallimg ul li .selectimg img{
	width:80px;
	height:107px;
	margin:-1px 0 0 -1px
}
.datu_left_page_have{
	display:block;
	width:12px;
	height:22px;
	background:url(../img/icon_arrows_left1.png) no-repeat;
	text-indent:-9999px;
	position:absolute;
	left:8px;
	top:710px;
	z-index:10
}
.datu_left_page_none{
	display:block;
	width:12px;
	height:22px;
	background:url(../img/icon_arrows_left1_none.png) no-repeat;
	text-indent:-9999px;
	position:absolute;
	left:8px;
	top:710px;
	z-index:10
}
.datu_rihgt_page_have{
	display:block;
	width:12px;
	height:22px;
	background:url(../img/icon_arrows_right1.png) no-repeat;
	text-indent:-9999px;
	position:absolute;
	right:8px;
	top:710px;
	z-index:10
}
.datu_rihgt_page_none{
	display:block;
	width:12px;
	height:22px;
	background:url(../img/icon_arrows_right1_none.png) no-repeat;
	text-indent:-9999px;
	position:absolute;
	right:8px;
	top:710px;
	z-index:10
}
.datu_left_page{
	width:500px;
	height:1300px;
	position:absolute;
	left:0;
	bottom:0;
	z-index:5
}
.datu_right_page{
	width:500px;
	height:1300px;
	position:absolute;
	right:0;
	bottom:0;
	z-index:5
}
.product_choose h3{
	font-size:12px;
	font-weight:normal;
	text-align:left;
	margin-bottom:10px
}
.pop_content .product_size{
	margin-bottom:20px
}
.pop_content .product_size ul li{
	width:50px;
	margin-right:10px;
	margin-top:10px
}
.pop_content .product_size ul li span{
	width:48px
}
.pop_content .product_size ul li span:visited{
	width:48px
}
.pop_content .product_size ul li .product_size_none{
	background:url(../img/product_size_none.gif) no-repeat
}
.pop_dhtz_tx{
	width:100%;
	height:auto;
	overflow:hidden
}
.pop_dhtz_tx_left{
	float:left;
	width:230px;
	height:auto;
	overflow:hidden;
	border-right:1px solid #e7e7e7
}
.pop_dhtz_tx_left h3{
	font-size:12px;
	font-weight:normal;
	margin-bottom:10px;
	text-align:left
}
.pop_dhtz_tx_left p{
	padding-bottom:10px
}
.pop_dhtz_tx_left p input{
	padding-left:10px;
	width:198px;
	height:28px;
	line-height:28px;
	color:#ccc
}
.pop_dhtz_tx_left p span{
	color:#db2726
}
.pop_dhtz_tx_left .button1{
	margin-top:10px;
	width:133px;
	height:25px;
	line-height:25px
}
.pop_dhtz_tx_left .button1:hover{
	margin-top:10px;
	width:133px;
	height:25px;
	line-height:25px
}
.pop_dhtz_tx_right{
	float:right;
	width:209px;
	height:auto;
	overflow:hidden
}
.pop_dhtz_tx_right h3{
	font-size:12px;
	font-weight:normal;
	margin-bottom:10px;
	text-align:left
}
.pop_dhtz_tx_right p{
	display:block;
	width:98px;
	height:98px;
	border:1px solid #000;
	overflow:hidden
}
.pop_dhtz_tx_right p img{
	width:100px;
	height:100px;
	margin:-1px 0 0 -1px
}
.pop_hwzf p{
	text-align:left;
	margin-bottom:40px
}
.pop_hwzf a{
	display:block;
	width:200px;
	height:30px;
	margin:0 auto;
	line-height:30px;
	text-align:center;
	color:#fff;
	font-size:14px;
	background:url(../img/btn_hwzf.png) no-repeat;
	margin-bottom:25px
}
.pop_hwzf a:visited{
	color:#fff
}
.hwzf_content{
	width:100%;
	height:auto;
	padding-top:20px;
	margin-bottom:50px
}
.hwzf_content p{
	text-align:center;
	margin-bottom:5px
}
.hwzf_left{
	width:105px;
	height:auto;
	overflow:hidden;
	float:left
}
.hwzf_center{
	width:105px;
	height:auto;
	overflow:hidden;
	float:left;
	margin-left:70px
}
.hwzf_right{
	width:105px;
	height:auto;
	overflow:hidden;
	float:left;
	margin-left:70px
}
.xzcc_content{
	margin-bottom:20px
}
.btn_xzcc{
	display:block;
	width:140px;
	height:35px;
	line-height:35px;
	text-align:center;
	color:#fff;
	margin:0 auto;
	background-color:#db2726
}
.btn_xzcc:link{
	color:#fff
}
.btn_xzcc:visited{
	color:#fff
}
.btn_xzcc:hover{
	color:#fff
}
.btn_xzcc:active{
	color:#fff
}
.zpxq_span{
	color:#db2726
}
.zpxq_img{
	width:298px;
	height:398px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
	overflow:hidden;
	position:relative
}
.zpxq_img img{
	width:300px;
	height:400px;
	margin:-1px 0 0 -1px
}
.zpxq_img h3{
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:14px;
	position:absolute;
	bottom:0;
	left:0;
	background-color:#000;
	color:#fff;
	font-weight:normal
}
.zpxq_img span{
	position:absolute;
	left:10px;
	top:10px
}
.zpxq_img span img{
	width:19px;
	height:16px;
	margin-right:5px
}
.zpxq_img a{
	cursor:default
}
.zpxq_more{
	width:220px;
	height:auto;
	overflow:hidden
}
.zpxq_more_left{
	float:left
}
.zpxq_more_right{
	float:right
}
.zpxq_more .zpxq_img{
	width:218px;
	height:291px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:10px;
	overflow:hidden;
	position:relative
}
.zpxq_more .zpxq_img img{
	width:220px;
	height:293px;
	margin:-1px 0 0 -1px
}
.zpxq_more .zpxq_img span{
	position:absolute;
	left:5px;
	top:5px
}
.zpxq_more .zpxq_img span img{
	width:19px;
	height:16px;
	margin-right:5px
}
.pop_cmzn{
	width:876px;
	height:auto;
	padding:20px;
	overflow:hidden;
	position:relative
}
.pop_cmzn h2{
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:16px;
	color:#fff;
	background-color:#000;
	margin-bottom:20px;
	font-weight:normal
}
.pop_cmzn table{
	text-align:center;
	margin-bottom:10px
}
.pop_cmzn table th{
	height:35px;
	vertical-align:middle;
	background-color:#000;
	color:#fff;
	font-weight:normal;
	border-left:1px solid #e7e7e7;
	border-bottom:1px solid #e7e7e7
}
.pop_cmzn table td{
	height:35px;
	vertical-align:middle;
	border-left:1px solid #e7e7e7;
	border-bottom:1px solid #e7e7e7
}
.pop_cmzn table .left_td{
	border-left:0
}
.pop_cmzn table .tr_bg td{
	background-color:#f2f2f2
}
.pop_cmzn h3{
	font-size:14px;
	margin-top:40px;
	margin-bottom:15px
}
.pop_cmzn img{
	float:left
}
.cmzn_explain{
	width:150px;
	height:auto;
	overflow:hidden;
	margin-top:50px;
	margin-left:30px;
	float:left
}
.cmzn_explain ul li{
	line-height:18px
}
.outlet{
	position:relative
}
.outlet .product_info_mz{
	-moz-box-shadow:0 0 5px #bfbfbf;
	-webkit-box-shadow:0 0 5px #bfbfbf;
	box-shadow:0 0 5px #bfbfbf;
	padding:15px 20px 17px 20px;
	margin-top:85px;
	background-color:#fff;
	border:1px solid #e7e7e7\9;
	*border:1px solid #e7e7e7;
	+border:1px solid #e7e7e7;
	_border:1px solid #e7e7e7
}
.outlet .product_share_weibo{
	top:20px;
	right:20px
}
.outlet .outletMain{
	width:980px
}
.outlet .banner_container{
	width:1398px;
	height:598px;
	overflow:hidden;
	position:absolute;
	top:66px;
	left:-200px;
	border:1px solid #e7e7e7;
	background-color:#f2f2f2
}
.outlet .bannerList{
	width:1800px;
	height:598px;
	overflow:hidden;
	position:relative;
	left:-249px
}
.outlet .bannerList ul li{
	width:448px;
	height:598px;
	overflow:hidden;
	float:left;
	border-right:1px solid #e7e7e7
}
.outlet .bannerList ul li span{
	display:block;
	width:448px;
	height:598px;
	overflow:hidden;
	filter:alpha(opacity=30);
	-moz-opacity:.3;
	-khtml-opacity:.3;
	opacity:.3;
	background-color:#fff
}
.outlet .bannerList ul li img{
	width:450px;
	height:600px;
	margin:-1px 0 0 -1px
}
.outlet .product_view{
	position:relative;
	overflow:visible
}
.outlet .product_bigimg{
	z-index:1
}
.outlet .product_view .left_page_button{
	position:absolute;
	left:-18px;
	top:283px;
	width:36px;
	height:36px;
	background:url(../img/icon_arrows_left2.png) no-repeat;
	text-indent:-9999px;
	z-index:2;
	cursor:pointer
}
.outlet .product_view .left_page_button:hover{
	background:url(../img/icon_arrows_left2_hover.png) no-repeat
}
.outlet .product_view .right_page_button{
	position:absolute;
	right:-18px;
	top:283px;
	width:36px;
	height:36px;
	background:url(../img/icon_arrows_right2.png) no-repeat;
	text-indent:-9999px;
	z-index:2;
	cursor:pointer
}
.outlet .product_view .right_page_button:hover{
	background:url(../img/icon_arrows_right2_hover.png) no-repeat
}
.authentic_guaranteed{
	position:absolute;
	font-size:14px;
	width:400px;
	text-align:left;
	top:340px;
	line-height:20px;
	left:50px
}
#innerScrollSizeDiv .product_size .border_color2{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}
.hScrollPane_dragbar{
	background-color:#f2f2f2;
	background-position:left -32px;
	bottom:0;
	height:6px;
	left:0;
	margin:0 auto;
	position:relative;
	cursor:pointer
}
.hScrollPane_draghandle{
	background-color:#000;
	background-position:center -48px;
	background-repeat:no-repeat;
	cursor:default;
	height:6px;
	left:0;
	overflow:hidden;
	position:relative;
	top:0;
	cursor:pointer
}
#maybeLike{
	position:relative
}
#changeLike{
	padding:0 0 0 22px;
	font-size:14px;
	background:url(../img/change.png) 0 center no-repeat;
	position:absolute;
	right:0;
	top:20px
}
#maybeLikeList{
	width:716px
}
.p_item{
	width:162px;
	overflow:hidden;
	margin:0 17px 0 0;
	float:left
}
.p_thumbnail,.p_thumbnail img{
	width:100%
}
.p_baseinfo{
	padding:10px
}
.p_baseinfo span{
	display:block;
	width:100%;
	height:14px;
	overflow:hidden;
	line-height:14px;
	color:#000;
	font-size:12px;
	text-transform:uppercase;
	text-overflow:ellipsis;
	white-space:nowrap
}
.p_priceblock{
	width:100%;
	height:18px;
	line-height:24px
}
.p_price{
	padding:0 13px 0 0;
	color:#dd2828;
	font-size:14px;
	font-weight:bold
}
.p_price_mkt{
	color:#000
}
.p_salesoff{
	display:none;
	float:right;
	font-style:normal;
	font-weight:bold
}
.product_tax_box{
	padding:15px 0 0;
	line-height:20px;
	font-size:14px;
	position:relative
}
.tax_explain{
	color:#929292;
	text-decoration:underline;
	margin:0 0 0 10px;
	float:left;
	cursor:pointer
}
.tax_detail{
	float:left;
	min-width:170px
}
.free_delivery{
	float:right
}
.product_tax_popup{
	position:absolute;
	top:45px;
	left:0;
	z-index:3;
	width:256px;
	font-size:12px;
	display:none
}
.tax_box_arrow{
	width:16px;
	height:9px;
	background:url(../img/tax_top_arrow.png) no-repeat;
	margin:0 0 -2px 200px;
	position:relative;
	z-index:2
}
.tax_box_content{
	color:#666;
	padding:10px;
	border:1px solid #ccc;
	background:#fff
}
.crossborderTips{
	margin:10px 0 50px 5px
}
.crossborderTips img{
	width:485px;
	height:490px
}
