.listV3,.listV3 .list_content{
	float:none
}
.shoppingbag .cart{
	font-weight:600;
	border-bottom:1px solid #ccc;
	margin-bottom:10px
}
.shoppingbag h2.cart span{
	font-size:14px;
	color:#909090;
	font-weight:400
}
.shoppingbag .effect2{
	width:980px;
	height:auto;
	background:#fbe9e9;
	padding:5px 10px;
	margin-bottom:0
}
.effect_bg2{
	width:980px;
	background:#fbe9e9
}
.effect2 .box_effect_content{
	width:970px;
	border:0 none;
	background:#fbe9e9;
	padding:5px;
	bottom:0
}
.shoppingbag .effect2 p{
	color:#dd2828;
	font-size:14px;
	width:100%
}
.shoppingbag .box_effect_content p .effect_type,.gwpBox .effect_type{
	text-decoration:none;
	background:#dd2828;
	color:#fff;
	padding:0 7px;
	height:18px;
	line-height:18px;
	margin-right:5px;
	font-size:12px
}
.effect_bg2 .toPage{
	font-size:12px;
	margin-left:10px
}
.listTab3{
	margin-bottom:0;
	border:0 none;
	height:47px;
	line-height:47px;
	margin-top:10px
}
.listTab3 a{
	height:48px;
	line-height:48px;
	width:164px
}
.listTab3 .selectedTab{
	background:#eee;
	color:#000;
	font-weight:bold
}
.shoppinglist .list_title2{
	background:#eee;
	height:58px;
	line-height:58px;
	border-bottom:0 none
}
.shoppinglist .list_title2 ul li{
	font-size:16px;
	font-weight:normal
}
.shoppinglist .list_title2 ul .list_name{
	width:260px;
	font-size:16px;
	text-align:left;
	padding-left:50px
}
.shoppinglist .list_title2 ul li{
	height:58px
}
.shoppinglist .list_content2 .list_content_ul li.cart_chk{
	width:40px;
	border-bottom:0 none;
	position:relative
}
.shoppinglist .list_title ul li.checkAllBox{
	width:90px;
	border-bottom:0 none;
	height:58px;
	line-height:58px;
	position:relative;
	cursor:pointer
}
.checkAll{
	position:absolute;
	top:50%;
	left:10px;
	background:url(https://cdn11.mei.com/images/checkbtn.png) 0 0 no-repeat;
	z-index:2;
	width:18px;
	height:18px;
	cursor:pointer;
	
	margin-top:-9px;
	display:inline-block;
	text-indent:-9999px
}
.checkItem{
	margin-top:-19px
}
.checkedItem{
	background-position:-18px 0
}
.shoppinglist .list_content2{
	padding:10px 0 10px 0;
	border-bottom:0 none;
	width:100%
}
.shoppinglist .list_content2 .list_content_ul .list_content_left{
	width:360px
}
.shoppinglist .list_content_ul li .unit-tax{
	width:120px;
	height:24px;
	line-height:24px;
	font-size:14px;
	text-align:center
}
.shoppinglist .list_content_ul li{
	padding-bottom:20px;
	border-bottom:1px solid #e5e5e5
}
.packageType{
	height:58px;
	line-height:58px;
	border-bottom:1px solid #ccc;
	position:relative
}
.packageType h3{
	float:left;
	font-size:16px;
	font-weight:bold;
	margin:0 30px 0 38px
}
.packageType h3 .shipIcon{
	width:52px;
	height:18px;
	border:1px solid #dd2828;
	color:#dd2828;
	font-size:12px;
	line-height:18px;
	text-align:center;
	margin-left:10px;
	display:inline-block
}
.packageType strong{
	float:left
}
.shoppinglist .list_content_ul li .deleteBox{
	width:78px;
	height:26px;
	line-height:26px;
	border:1px solid #ccc;
	left:20px;
	top:39px;
	font-size:14px
}
.shoppinglist .list_content_ul li.li_pop .box3{
	top:68px;
	right:34px
}
.list_content_ul .unit-price{
	font-size:16px
}
.list_content_ul .amount{
	font-weight:bold;
	font-size:16px
}
.gwpBox{
	height:38px;
	line-height:38px;
	padding-left:38px;
	color:#dd2828;
	font-size:14px;
	margin:10px 0
}
.shoppinglist .list_content_ul li .special2{
	width:106px;
	height:18px;
	border:1px solid #dd2828;
	line-height:18px;
	color:#dd2828;
	font-size:12px;
	left:6px
}
.shoppinglist .list_content_ul li .chooseBox{
	width:108px;
	height:34px;
	border:0 none;
	line-height:34px;
	font-size:28px;
	margin-top:35px
}
.chooseBox .number_reduce_none,.chooseBox .number_increase,.chooseBox .number_reduce,.chooseBox .number_increase_none{
	width:34px;
	height:34px;
	border-right:0 none;
	border-left:0 none;
	background:#eee;
	text-indent:0
}
.chooseBox .number_reduce_none,.chooseBox .number_increase_none{
	color:#ccc
}
.chooseBox .quantity_number{
	width:40px;
	height:34px;
	padding:0
}
.chooseBox .quantity_number input{
	width:40px;
	height:38px;
	line-height:38px;
	font-size:16px
}
.shoppinglist .list_content_ul .list_content_left .list_content_info{
	float:left;
	text-align:left
}
.shoppinglist .list_content_ul .list_content_left span{
	display:block
}
.list_content_name{
	font-weight:bold
}
.list_content_name,.cName{
	font-size:14px
}
.shoppinglist .list_content_ul .list_content_left .list_content_infobox{
	margin-top:6px;
	width:172px;
	height:auto;
	padding:2px 0;
	border:1px dashed #eee;
	font-size:12px;
	color:#909090;
	position:relative
}
.shoppinglist .list_content_ul .list_content_left .selected_infobox{
	border:1px dashed #000
}
.list_content_info .sku_info{
	float:left
}
.list_content_info .sku_info span{
	font-size:14px;
	line-height:18px;
	height:18px
}
.list_content_info .btn_edit{
	float:right;
	background:#f5f5f5;
	width:38px;
	text-align:center;
	height:100%;
	position:absolute;
	margin:-2px 0 0 0;
	right:0;
	cursor:pointer
}
.list_content_info .btn_edit_selected{
	background:#000;
	color:#fff
}
.list_content_info .btn_edit span{
	position:absolute;
	top:50%;
	margin-top:-10px;
	height:20px;
	line-height:20px;
	width:100%;
	text-align:center
}
.list_content_State{
	bottom:0;
	left:0;
	position:absolute;
	color:#db2726
}
.product_content_State{
	font-size:14px;
	color:#ccc
}
.product_content_State2{
	font-size:14px;
	color:#dd2828;
	margin-top:60px
}
.couponInfoIcon{
	min-width:40px;
	height:18px;
	line-height:18px;
	font-size:12px;
	border:1px solid #dd2828;
	color:#dd2828;
	text-align:center;
	padding:0 3px;
	width:auto;
	display:inline-block
}
.shoppinglist .list_content_ul li.price-box{
	padding-bottom:0;
	height:127px;
	line-height:normal
}
.shoppinglist .list_content_ul li .itemPrice{
	margin-top:45px
}
.gwpBox p{
	background:#f5f5f5
}
.gwpBox .effect_type{
	margin-left:10px
}
.crossPromotion{
	padding-left:18px;
	position:relative
}
.crossPromotion p{
	background:#fbe9e9
}
.crossPromotion .red_arrow{
	width:10px;
	height:10px;
	position:absolute;
	left:18px;
	bottom:-9px;
	background:url(https://cdn11.mei.com/images/redarrow.jpg) 0 0 no-repeat
}
.gwpBox .toPage{
	margin-left:10px;
	text-decoration:underline
}
.crossBox{
	position:relative
}
.crossBox .cross_line{
	border-left:1px dashed #e5e5e5;
	width:1px;
	height:100%;
	position:absolute;
	left:19px;
	top:0
}
.crossBox .checkAll{
	background:#fff url(https://cdn11.mei.com/images/checkbtn.png) 0 10px no-repeat;
	padding:10px 0
}
.crossBox .checkAll{
	margin-top:-29px
}
.crossBox .checkedItem{
	background-position:-18px 10px
}
.gwpSuccess{
	color:#000
}
.shoppinglist .blockBox .list_content_ul li{
	border-bottom:0 none
}
.shoppinglist .blockBox .list_content_ul:last-child li{
	border-bottom:1px solid #e5e5e5
}
.shoppinglist .blockBox .list_content_ul:last-child li.cart_chk{
	border-bottom:0 none
}
.edit_popup{
	width:266px;
	top:45px;
	left:5px
}
.edit_popup .sizeBox_top{
	width:266px;
	height:11px;
	margin-bottom:-1px
}
.edit_popup .topIcon{
	background:url(https://cdn11.mei.com/images/top_arrow.png) 0 0 no-repeat;
	width:20px;
	height:11px
}
.edit_popup .topIcon{
	left:20px
}
.edit_popup .sizebox_content{
	border:1px solid #000;
	padding:0 10px;
	height:auto;
	background:#fff;
	z-index:2
}
.close3_btn,.close4_btn{
	width:30px;
	height:30px;
	margin:0 0 0 223px;
	cursor:pointer;
	text-align:center;
	background:url(https://cdn11.mei.com/images/icon_delete.png) center center no-repeat;
	text-indent:-9999px
}
.boxTitle{
	width:25px;
	font-size:12px;
	float:left;
	margin-bottom:0;
	height:28px;
	line-height:28px;
	margin-right:5px
}
.choose_size_ul2,.choose_color_ul2{
	float:left;
	width:214px;
	margin-bottom:15px
}
.shoppinglist .size_popup .choose_size_ul2 li,.shoppinglist .size_popup .choose_color_ul2 li{
	width:auto;
	height:28px;
	min-width:60px;
	text-align:center;
	float:left;
	border:0 none;
	line-height:28px;
	cursor:pointer;
	margin:0 5px 5px 0;
	font-size:14px;
	padding-bottom:0
}
.choose_size_ul2 li a,.choose_color_ul2 li a{
	display:block;
	background:#eee;
	color:#000;
	padding:0 4px
}
.choose_size_ul2 li a.product_size_none,.choose_color_ul2 li a.product_size_none{
	color:#ccc;
	cursor:default
}
.addCartBtn{
	width:138px;
	height:38px;
	line-height:38px;
	background:#000;
	color:#fff;
	margin:0 auto 20px;
	text-align:center;
	font-size:14px;
	cursor:pointer
}
.choose_size_ul2 .pop_up_box3 .box_content ul li{
	font-size:12px;
	line-height:20px;
	margin:0 auto
}
.gwd_main2{
	padding:20px 0;
	border-bottom:0 none;
	margin-bottom:0
}
.payBox{
	float:none;
	width:1000px;
	height:58px;
	background:#eee;
	margin:20px auto 0
}
.payBox_bottom{
	position:fixed;
	bottom:0;
	z-index:9999
}
.payPlane{
	width:1000px;
	height:58px;
	line-height:58px
}
.gwd_main_left{
	float:none
}
.payBox .checkAllBox{
	height:58px;
	line-height:58px;
	position:relative;
	float:left;
	margin-right:10px
}
.check_none{
	color:#909090
}
.payBox .gwd_main_right_div{
	height:58px;
	line-height:58px;
	margin-bottom:0
}
.gwd_main_right .chkButtonBox{
	width:200px;
	float:left
}
.payBox .button3{
	width:140px;
	height:58px;
	line-height:58px;
	float:right;
	font-size:20px;
	margin-left:10px;
	border:0 none
}
.payBox .button4{
	width:78px;
	height:26px;
	border:1px solid #ccc;
	line-height:26px;
	margin:15px 0 0 20px
}
.checkText{
	float:left;
	font-size:16px;
	margin:-1px 0 0 38px
}
.checkText span{
	font-size:14px;
	color:#909090;
	text-align:left;
	margin-left:10px
}
.checkText span b{
	font-size:18px;
	color:#dd2828;
	padding:0 5px
}
.payBox .gwd_total{
	font-size:14px
}
.payBox .gwd_total span{
	font-size:20px;
	font-weight:bold
}
.payBox .buttonGrey{
	background:#ccc;
	cursor:default
}
.price_sum,.promotion_sum{
	height:25px;
	line-height:25px;
	padding-top:4px
}
.promotion_sum{
	color:#909090
}
#cartPopup,#wishPopup,#invalidPopup{
	width:318px;
	height:158px;
	border:1px solid #000;
	position:fixed;
	margin:auto;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:999999;
	background:#fff;
	display:none
}
.tipsInfo{
	width:100%;
	height:35px;
	text-align:center;
	font-size:14px;
	line-height:35px;
	margin-top:5px
}
#cartPopup .close3_btn,#wishPopup .close3_btn,#invalidPopup .close3_btn{
	margin:0 0 0 285px
}
.popBtn{
	width:220px;
	margin:22px auto 0;
	overflow:hidden;
	height:38px
}
.popBtn a{
	display:block;
	width:100px;
	height:38px;
	margin:0 5px;
	color:#fff;
	background:#000;
	float:left;
	line-height:38px;
	text-align:center;
	font-size:14px
}
.popBtn .cancelBtn,.popBtn .goToBag{
	background:#eee;
	color:#000
}
.shoppinglist .list_title ul li.price{
	width:300px
}
.chooseBox_ul{
	width:285px
}
.errorInfo,.addInfo{
	width:100%;
	height:18px;
	line-height:18px;
	font-size:12px;
	color:#dd2828;
	text-align:center
}
.shoppinglist .list_content_ul .list_content_left .trace_date{
	font-size:14px
}
.shoppinglist .list_content_ul .list_content_left .trace_date span{
	display:inline-block;
	color:#000
}
.sizebox_content .confirm_btn{
	height:38px;
	line-height:38px;
	color:#fff;
	background:#000;
	font-size:14px
}
.shoppinglist ul.wish_ul li.price{
	font-size:16px;
	position:relative
}
.shoppinglist ul.wish_ul li.price .tax-box{
	position:absolute;
	width:300px;
	height:16px;
	line-height:16px;
	text-align:center;
	bottom:45px;
	font-size:14px
}
.shoppinglist .wish_ul li .deleteBox{
	left:200px
}
.shoppinglist .wish_ul li.li_pop .box3{
	right:32px
}
.wishDelBox .chkButtonBox{
	float:left;
	margin-right:20px
}
.shoppingNothing{
	padding:30px 0
}
.clearInvalid{
	width:100%;
	text-align:center;
	height:58px;
	line-height:58px;
	border:1px solid #ccc;
	font-size:14px;
	cursor:pointer;
	margin:30px auto
}
#overseaPopUp{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	margin:0 auto;
	background:rgba(0,0,0,0.5);
	z-index:10;
	display:none
}
.overseaTips{
	width:360px;
	height:276px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-138px 0 0 -180px;
	background:#fff
}
.overseaTips .close4_btn{
	margin:0 0 0 330px
}
.overseaTipsInfo{
	font-size:14px;
	color:#666;
	padding:10px 20px
}
.overseaTipsInfo h5{
	font-size:16px;
	color:#000;
	text-align:center;
	padding-bottom:10px
}
.overseaTipsInfo p{
	margin-bottom:20px
}
.select-product-box{
	width:120px;
	margin:0 auto
}
.select-product-box li{
	height:30px
}
.check-normal,.check-cross{
	background:url(https://cdn11.mei.com/images/checkbtn.png) 0 0 no-repeat;
	z-index:2;
	width:18px;
	height:18px;
	cursor:pointer;
	display:inline-block;
	margin:2px 10px 0 0
}
.overseaTipsInfo span{
	float:left
}
.popBtn .goToBag,.popBtn .goToCheckBtn{
	width:140px;
	height:36px;
	line-height:36px
}
#overseaPopUp .popBtn{
	margin:15px auto 0;
	width:300px
}
#overseaPopUp .checkedItem{
	background-position:-18px 0
}
