.dialogDiv{
	display:block;
	position:absolute;
	z-index:9999;
	height:auto;
	overflow:hidden;
	width:auto;
	background-color:transparent
}
.img_close{
	width:17px;
	height:17px;
	float:right;
	cursor:pointer;
	margin-bottom:3px
}
.collection-tips{
	width:228px;
	padding:10px 16px 12px;
	letter-spacing:0;
	color:#666;
	font-size:12px;
	border:1px solid #ccc;
	background-color:#fff;
	position:absolute;
	right:-5px;
	top:50px
}
.collection-tips .arrow{
	width:16px;
	height:8px;
	margin:0 0 0 -8px;
	background:url(../img/tip-arrow.png) 0 0 no-repeat;
	position:absolute;
	top:-8px;
	left:50%
}
.collection-tips span{
	color:#dd2828
}
.collection-max{
	display:inline-block;
	padding:25px 10px 0;
	color:#dd2828;
	font-size:12px
}
.collection-max-old{
	padding:20px 10px 0
}
